 

  <div class="listing-map-wrapper">

    <!-- Listings Start -->
    <div class="listing-main-wrapper" style="overflow-y: auto;">

    <ais-instantsearch [config]="config" >
      <ais-configure
      [searchParameters]="{ hitsPerPage: 5, distinct: true,facetFilters:'house'}"
      ></ais-configure>
      <!-- Filter Start -->
      <div class="acr-filter-form">
        <div class="acr-filter-form-header">
          <h4>Filter</h4>
          <div (click)="lessFilter()" class="close-btn close-dark filter-trigger">
            <span></span>
            <span></span>
          </div>
        </div>
        
        <form > 
          <div class="row" style="margin-top: 4%;">
            <div class="col-6">
                <h6 style="margin-bottom: 0%;">County</h6>
                <hr style="margin: 0%; height: 1px; width: 100%;">

                <ais-refinement-list
                attribute="county"

                operator="and"
                [limit]="7"
                [showMoreLimit]="10"
                showMoreLabel="show more"
                showLessLabel="show less"
                [searchable]="false"
                searchPlaceholder="County" 
                [autoHideContainer]="true" 
                ></ais-refinement-list>
            </div> 
            <div class="col-6">
                <h6 style="margin-bottom: 0%;">Price Range</h6>
                <hr style="margin: 0%; height: 1px; width: 100%;">
    
                <ais-numeric-menu
                
                    attribute="price"
                    [items]="[
                    { label: 'All' },
                    { end: 1000000, label: 'less than 1m' },
                    { start: 1000000, end: 5000000, label: 'Kes. 1m - Kes. 5m' },
                    { start: 5000000, end: 20000000, label: 'Kes.  5m - Kes. 20m' },
                    { start: 20000000, end: 40000000, label: 'Kes. 20m - Kes. 40m' },
                    { start: 40000000, end: 60000000, label: 'Kes. 40m - Kes. 60m' },
                    { start: 60000000, end:80000000, label: 'Kes. 60m - Kes. 80m' },
                    { start: 80000000, end: 100000000, label: 'Kes. 80m - Kes. 100m' },
                    { start: 100000000, label: 'more than Kes. 100' }
                    
                  ]"
                    [autoHideContainer]="true"
                ></ais-numeric-menu>
  
              </div> 
          </div>  
        </form>
      </div>

      <div class="acr-listing-filter-wrapper">        
          <div class="row">
            <div class="col-sm-6">
              <ais-search-box placeholder="Enter an address, neighbourhood, city or any property details" ></ais-search-box>
            </div>
            <div class="col-sm-3">
              <button (click)="showFilter()" type="button" class="btn-custom-2 light-grey filter-trigger" name="button">Advanced Search</button>

            </div>
            <div class="col-sm-3">
              <div class="acr-toggle-views">
                <a [routerLink]="['/land-sale/grid']"  data-toggle="tooltip" title="Grid"><i class="fas fa-th-large"></i></a>
                <a [routerLink]="['/land-sale/list']" data-toggle="tooltip" title="List"><i class="fas fa-th-list"></i></a>
                <a [routerLink]="['/land-sale/map']" class="active" data-toggle="tooltip" title="Map"><i class="fas fa-map"></i></a>
              </div>
            </div>
          </div>
            
          <ais-infinite-hits
           
          showPreviousLabel="Show previous results"
          showMoreLabel="Show more results"
          
          >
          <ais-configure
          [searchParameters]="{ hitsPerPage: 10}"
          ></ais-configure>
              
              <ng-template let-hits="hits" let-results="results" let-refinePrevious="showPrevious" let-refineNext="showNext">
                
                <div style="margin-top: 4%;" >

                  <div style="margin-bottom: 2%;">
                    <ais-stats></ais-stats>
                  </div>

                  <div *ngIf="hits.length === 0" >
                    No results have been found for {{ results?.query }}.
                  </div>

                    <div class="row"> 

                      <!-- Posts Start -->
                      <div class="col-lg-12">
                        
                        <!-- Controls Start -->
                        <div class="acr-global-listing-controls">
                          <div class="acr-listing-active-filters">
                            <ais-current-refinements></ais-current-refinements> 
                          </div>
                          
                        </div>
                        <!-- Controls End -->

                        <!-- Show previous button template -->
                        <button  onload="getData()"  *ngIf="hits.length > 8" class="btn-sm btn-custom" (click)="refinePrevious($event)">
                          Show previous
                        </button> 

                        <div class="row" style="margin-top: 4%;"> 
                          <!-- Listing Start -->
                          <div *ngFor="let hit of hits" class="col-md-6">
                            <div class="listing">
                              <div class="listing-thumbnail"> 

                                <a [routerLink]="['/listings/details', hit.objectID]"><img [src]="hit.gallery[0]?.url" onerror="this.onerror=null;this.src='https://via.placeholder.com/300x210?';"  alt="listing"></a>
                                <div class="listing-badges">
                                  <span class="listing-badge featured"> <i class="fas fa-star"></i> </span>
                                  <span class="listing-badge pending"> Pending</span>
                                </div>
                                <div class="listing-controls">
                                  <a href="#" class="favorite"><i class="far fa-heart"></i></a>
                                  <a href="#" class="compare"><i class="fas fa-sync-alt"></i></a>
                                </div>
                              </div>
                              <div class="listing-body">
                                <div class="listing-author">
                                  <img [src]="hit.uploader_photoURL" alt="author"  onerror="this.onerror=null;this.src='https://via.placeholder.com/292x300?text=User';">
                                  <div class="listing-author-body">
                                    <p>
                                      <a href="#"><ais-highlight attribute="uploader_displayName" [hit]="hit"></ais-highlight></a> </p>
                                    <span class="listing-date">{{hit.uploaded._seconds * 1000 | date:'medium'}}</span>
                                  </div>
                                  &nbsp;
                                  <div class="dropdown options-dropdown">
                                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                      <ul>
                                        <li> <a (click)="getUploaderPhone(hit.uploader_id)" href="{{'tel:' + uploaderPhone }}"> <i class="fas fa-phone"></i> Call Agent</a> </li>
                                        <li> <a (click)="getUploaderEmail(hit.uploader_id)" href="{{'mailto:' +  uploaderEmail }}" > <i class="fas fa-envelope"></i> Send Message</a> </li>
                                        <li> <a (click)="flyTo(hit.latitude,hit.longitude)" > <i class="fas fa-map-marker"></i>View on map</a> </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                                <h5 class="listing-title"> <a [routerLink]="['/listings/details', hit.objectID]" title="hit.name"><ais-highlight attribute="name" [hit]="hit"></ais-highlight></a> </h5>
                                <span class="listing-price">{{hit.price | currency:'KES '}}</span>
                                <p class="listing-text ellipsis3"><ais-highlight attribute="description" [hit]="hit"></ais-highlight></p>
                                <div class="acr-listing-icons">
                                  
                                  <div class="acr-listing-icon" data-toggle="tooltip" title="Square Feet">
                                    <i class="flaticon-ruler"></i>
                                    <span class="acr-listing-icon-value">{{hit.size | number }} Acres</span>
                                  </div>
                                </div>
                                <div class="listing-gallery-wrapper">
                                  <a [routerLink]="['/listings/details', hit.objectID]" class="btn-custom btn-sm secondary">View Details</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Listing End -->

                        </div>

                        <!-- Show more button template -->
                        <button class="btn-sm btn-custom" (click)="refineNext($event)" style="margin-bottom: 4%;">
                          Show more
                        </button> 

                      </div>
                      <!-- Posts End -->
                    </div>
                    
                   
                </div>
                

              </ng-template>
            </ais-infinite-hits>
      
        
 
      </div>
    </ais-instantsearch>

 
    </div>
    <!-- Listings End -->

    <!-- Map Start -->
    <div class="listing-map">
      <div #mapEl id="mapEl"></div>
    </div>
    <!-- Map End -->

  </div>


    <!-- Vendor Scripts -->
    <script src="./../../../../assets/js/plugins/jquery-3.4.1.min.js"></script>
    <script src="./../../../../assets/js/plugins/popper.min.js"></script>
    <script src="./../../../../assets/js/plugins/waypoint.js"></script>
    <script src="./../../../../assets/js/plugins/bootstrap.min.js"></script>
    <script src="./../../../../assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="./../../../../assets/js/plugins/jquery.slimScroll.min.js"></script>
    <script src="./../../../../assets/js/plugins/imagesloaded.min.js"></script>
    <script src="./../../../../assets/js/plugins/jquery.steps.min.js"></script>
    <script src="./../../../../assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="./../../../../assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="./../../../../assets/js/plugins/slick.min.js"></script>
    <script src="./../../../../assets/js/plugins/select2.min.js"></script>

  
  <!-- Map Scripts -->
  <script src="./../../../../assets/js/plugins/mapbox-gl.min.js"></script>
  <script src="./../../../../assets/js/mapdata.js"></script>
  <script src="./../../../../assets/js/map.js"></script>