  <!-- Subheader Start -->
  <div class="subheader bg-cover bg-center dark-overlay" style="background-image: url('https://via.placeholder.com/1920x1280')">
    <div class="container">
      <div class="subheader-inner">
        <h1 class="text-white">Legal</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item active" aria-current="page">Legal</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- Subheader End -->

  <div class="section">
    <div class="container">
      <div class="row">

        <div class="col-lg-8">
          <div class="post-content">

            <h3>Who are we</h3>
            <p>Our website is: http://androthemes.com/themes/html/acres</p>

            <h3>Privacy Policy</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
              of type and scrambled it to make a type specimen book. It has survived not only five centuries
            </p>
            <h3>Cookie Policy</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
              of type and scrambled it to make a type specimen book. It has survived not only five centuries
            </p>
            <p>but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
              and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
            <h3>Listing Policy</h3>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
              If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text
            </p>
            <p>
              All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words,
              combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
              The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            </p>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
              If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text
            </p>
            <h3>Analytics</h3>
            <p>
              All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words,
              combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
              The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            </p>
            <p>
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
              If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text
            </p>
            <h3>How Do We Store Your Data</h3>
            <p>
              All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words,
              combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
              The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            </p>

          </div>
        </div>

        <div class="col-lg-4">
          <div class="sidebar">
            <div class="sidebar-widget">
              <form method="post">
                <h5>Search Posts</h5>
                <div class="search-wrapper">
                  <input type="text" class="form-control" placeholder="Search" name="sidebar-search" value="">
                  <button type="submit" class="btn-custom" name="button"><i class="flaticon-search"></i></button>
                </div>
              </form>
            </div>
            <div class="sidebar-widget">
              <h5>Recent Posts</h5>
              <article class="media">
                <a href="#"><img src="https://via.placeholder.com/300" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="#">Green neighborhood starts tomorrow</a> </h6>
                  <span>January 22, 2020</span>
                </div>
              </article>
              <article class="media">
                <a href="#"><img src="https://via.placeholder.com/300" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="#">How to enable better agents in an agency</a> </h6>
                  <span>January 24, 2020</span>
                </div>
              </article>
              <article class="media">
                <a href="#"><img src="https://via.placeholder.com/300" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="#">Real estate is booming in the west and east</a> </h6>
                  <span>January 26, 2020</span>
                </div>
              </article>
              <article class="media">
                <a href="#"><img src="https://via.placeholder.com/300" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="#">What agencies are looking for in an agent</a> </h6>
                  <span>January 28, 2020</span>
                </div>
              </article>
            </div>

            <div class="sidebar-widget sidebar-list">
              <h5>Popular Categories</h5>
              <ul>
                <li> <a href="#"> Living Rooms <span>(24)</span> <i class="fas fa-chevron-right"></i> </a> </li>
                <li> <a href="#"> Real Estate <span>(16)</span> <i class="fas fa-chevron-right"></i> </a> </li>
                <li> <a href="#"> Kitchens <span>(32)</span> <i class="fas fa-chevron-right"></i> </a> </li>
                <li> <a href="#"> Flats <span>(22)</span> <i class="fas fa-chevron-right"></i> </a> </li>
                <li> <a href="#"> Luxury <span>(15)</span> <i class="fas fa-chevron-right"></i> </a> </li>
                <li> <a href="#"> Bed Rooms <span>(8)</span> <i class="fas fa-chevron-right"></i> </a> </li>
              </ul>
            </div>

            <div class="sidebar-widget tags">
              <h5>Popular Tags</h5>
              <a href="#">House</a>
              <a href="#">Real Estate</a>
              <a href="#">Building</a>
              <a href="#">Agency</a>
              <a href="#">Family</a>
              <a href="#">Acres</a>
              <a href="#">Baths</a>
              <a href="#">Rooms</a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
