
  <!-- Aside (Mobile Navigation) -->
  <aside [ngClass]="('main-aside ' + (open1 ? 'main-aside open' : ''))" >

    <div class="aside-title">
      <div class="aside-controls aside-trigger">
        <h4>Menu</h4>
        <div (click)="close()"class="close-btn close-dark">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>

    <div class="aside-scroll">
      <ul>
        <!-- Pages Start -->
        <li class="menu-section-title">Pages</li>
        <li class="menu-item">
          <a [routerLink]="['/']"> <i class="flaticon-info"></i> Home Page</a> 
        </li>
        <li class="menu-item">
          <a  [routerLink]="['/about']"> <i class="flaticon-info"></i> About us</a> 
        </li>
        
        <li class="menu-item">
          <a [routerLink]="['/services']"> <i class="flaticon-info"></i> Services</a> 
        </li>
        
        <li class="menu-item">
          <a  [routerLink]="['/pricing']"> <i class="flaticon-info"></i> Pricing</a> 
        </li>
        
        <li class="menu-item">
          <a  [routerLink]="['/listings']"> <i class="flaticon-info"></i> Listings</a> 
        </li>
        
        <li class="menu-item">
          <a  [routerLink]="['/faq']"><i class="flaticon-info-1"></i> FAQ</a> 
        </li> 

        <li class="menu-item">
          <a  [routerLink]="['/blog']"><i class="flaticon-info-1"></i> Blog</a> 
        </li> 

        <li class="menu-item">
          <a  [routerLink]="['/contact']"><i class="flaticon-info-1"></i> Contact us</a> 
        </li>  

        <!-- Pages End -->

        <!-- Social Media Start -->
        <li class="menu-section-title">Get Social</li>
        <li class="menu-item"> <a href="#"> <i class="flaticon-facebook"></i>Facebook</a> </li>
        <li class="menu-item"> <a href="#"> <i class="flaticon-linkedin"></i> Linkedin </a> </li>
        <li class="menu-item"> <a href="#"> <i class="flaticon-twitter"></i> Twitter </a> </li>
        <li class="menu-item"> <a href="#"> <i class="flaticon-instagram"></i> Instagram </a> </li>
        <!-- Social Media End -->

      </ul>

    </div>

  </aside>
  <div class="aside-overlay aside-trigger"></div>

  <!-- Header Start -->
  <header class="main-header">

    <!-- Top Header Start -->
    <div class="top-header">
      <div class="container">
        <div class="top-header-inner">

          <ul class="social-media">
            <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
            <li> <a href="#"> <i class="fab fa-pinterest-p"></i> </a> </li>
            <li> <a href="#"> <i class="fab fa-linkedin-in"></i> </a> </li>
            <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
          </ul>

          <ul *ngIf="!auth.userData" class="top-header-nav">
            <li> <a [routerLink]= "['/login']"> Login</a> </li>
            <li>or</li>
            <li> <a [routerLink]= "['/register']"> Signup</a> </li>
          </ul>
          <ul *ngIf="auth.userData" class="top-header-nav">
             <a style="color: white; cursor:pointer;" (click)="auth.SignOut()"> Logout</a> 
          </ul>
        </div>
      </div>
    </div>
    <!-- Top Header End -->

    <nav class="navbar">
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active"  > <img src="./../../../assets/img/logo_assets/logo_blue_bg.svg" alt="logo" style="height: 70px;"> </a>
        <!-- Menu -->
        <ul class="navbar-nav">
          <li class="menu-item menu-item-has-children">
            <a  [routerLink]= "['/']">Homepage</a>
            <!-- <ul class="submenu">
              <li class="menu-item"> <a href="index.html">Home v1</a> </li>
              <li class="menu-item"> <a href="home-v2.html">Home v2</a> </li>
              <li class="menu-item"> <a href="home-v3.html">Home v3</a> </li>
              <li class="menu-item"> <a href="home-v4.html">Home v4</a> </li>
              <li class="menu-item"> <a href="home-v5.html">Home v5</a> </li>
            </ul> -->
          </li>
          
          <li class="menu-item menu-item-has-children mega-menu-wrapper">
            <a >About</a>
            <ul class="submenu">
              <li>
                <img src="./../../../assets/megamenu.png" alt="img">
                <div class="container">
                  <div class="row">

                    <div class="col-lg-4">
                      <div class="mega-menu-item">
                        <h5>Featured Listings</h5>
                        <p>
                          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                          making it over 2000 years old.
                        </p>
                        <a [routerLink]="['/listings']" routerLinkActive="router-link-active"  class="btn-custom secondary">View All</a>
                      </div>
                    </div>

                    <div class="offset-lg-1 col-lg-7">
                      <div class="mega-menu-item">
                        <h5>Pages</h5>
                        <a [routerLink]="['/about']" routerLinkActive="router-link-active" >About Us</a>
                        <a [routerLink]="['/services']" >Services</a>
                        <a [routerLink]="['/pricing']" >Pricing</a>
                      </div>
                    </div>

                  </div>
                </div>
              </li>

            </ul>
          </li>
          <li class="menu-item ">
            <a [routerLink]="['/listings']" routerLinkActive="router-link-active" >Listings</a> 
          </li>
          <li class="menu-item">
            <a [routerLink]="['/blog']">Blog</a> 
          </li>
          <li class="menu-item">
            <a [routerLink]="['/faq']" >FAQ</a>
          </li>
          <li class="menu-item">
            <a [routerLink]="['/contact']" >Contact Us</a>
          </li>
          
          
          
          <!-- <li class="menu-item menu-item-has-children">
            <a href="agent-archive.html">Agents</a>
            <ul class="submenu">
              <li class="menu-item"> <a href="agent-archive.html">Agents Archive</a> </li>
              <li class="menu-item"> <a href="agent-details.html">Agent Details</a> </li>
              <li class="menu-item menu-item-has-children">
                <a href="profile.html">Agent Profile</a>
                <ul class="submenu submenu-right">
                  <li class="menu-item"> <a href="profile.html">My Account</a> </li>
                  <li class="menu-item"> <a href="profile-listings.html">My Listings</a> </li>
                  <li class="menu-item"> <a href="profile-saved-listings.html">Saved Listings</a> </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a href="agency-archive.html">Agency</a>
            <ul class="submenu">
              <li class="menu-item"> <a href="agency-archive.html">Agency Archive</a> </li>
              <li class="menu-item"> <a href="agency-details.html">Agency Details</a> </li>
            </ul>
          </li> -->
        </ul>

        <div class="header-controls">
          <ul class="header-controls-inner d-none d-lg-flex">
            <li>
              <a  [routerLink]= "['/listings/submit-page']" class="btn-custom primary">Submit Listing <i class="fas fa-plus"></i> </a>
            </li>
          </ul>
          <!-- Toggler -->
          <div (click)="open()" class="aside-toggler aside-trigger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

      </div>
    </nav>

  </header>
  <!-- Header End -->