  
  
  <!-- About Section Start -->
  <div class="section">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-6 mb-lg-30 acr-dots-wrapper acr-single-img-wrapper">
          <img src="https://via.placeholder.com/800x950" alt="img">
          <div class="acr-dots"></div>
        </div>
        <div class="col-lg-6">
          <div class="section-title-wrap mr-lg-30">
            <h5 class="custom-primary">About Us</h5>
            <h2 class="title">We provide state of the art real estate service</h2>
            <p class="subtitle">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <p class="subtitle">
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </p>
            <a [routerLink]="['/listings/map']" class="btn-custom">Browse Listings</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- About Section End -->

  <!-- Infographics Start -->
  <div class="section section-padding bg-cover bg-center bg-parallax dark-overlay dark-overlay-2" style="background-image: url('https://via.placeholder.com/1920x1280')">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="acr-infographic-item">
            <i class="flaticon-garage"></i>
            <h4>24,934</h4>
            <p>Listings</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="acr-infographic-item">
            <i class="flaticon-sales-agent"></i>
            <h4>65,317</h4>
            <p>Agents</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="acr-infographic-item">
            <i class="flaticon-company"></i>
            <h4>4,658</h4>
            <p>Agencies</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="acr-infographic-item">
            <i class="flaticon-sold"></i>
            <h4>67,335</h4>
            <p>Listings Sold</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Infographics End --> 

  <!-- Testimonials Start -->
  <div class="section section-padding">
    <div class="container">
      <div class="section-title-wrap section-header">
        <h5 class="custom-primary">Testimonials</h5>
        <h2 class="title">What Are People Saying</h2>
      </div>

      <div class="row">

        <!-- Testimonail item start -->
        <div class="col-lg-4 col-md-6">
          <div class="acr-testimonial">
            <div class="acr-testimonial-body">
              <h5>Perfect service</h5>
              <div class="acr-rating-wrapper">
                <div class="acr-rating">
                  <i class="fas fa-star active"></i>
                  <i class="fas fa-star active"></i>
                  <i class="fas fa-star active"></i>
                  <i class="fas fa-star active"></i>
                  <i class="fas fa-star active"></i>
                </div>
              </div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
            </div>
            <div class="acr-testimonial-author">
              <img src="https://via.placeholder.com/292x300" alt="testimonial">
              <div class="acr-testimonial-author-inner">
                <h6>John Mishlen</h6>
                <span>Executive CEO at company</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Testimonail item end -->

        <!-- Testimonail item start -->
        <div class="col-lg-4 col-md-6">
          <div class="acr-testimonial">
            <div class="acr-testimonial-body">
              <h5>Competitive prices</h5>
              <div class="acr-rating-wrapper">
                <div class="acr-rating">
                  <i class="fas fa-star active"></i>
                  <i class="fas fa-star active"></i>
                  <i class="fas fa-star active"></i>
                  <i class="fas fa-star active"></i>
                  <i class="fas fa-star active"></i>
                </div>
              </div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
            </div>
            <div class="acr-testimonial-author">
              <img src="https://via.placeholder.com/292x300" alt="testimonial">
              <div class="acr-testimonial-author-inner">
                <h6>Moe Sondi</h6>
                <span>Executive CEO at company</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Testimonail item end -->

        <!-- Testimonail item start -->
        <div class="col-lg-4 col-md-12">
          <div class="acr-testimonial">
            <div class="acr-testimonial-body">
              <h5>Great agents</h5>
              <div class="acr-rating-wrapper">
                <div class="acr-rating">
                  <i class="fas fa-star active"></i>
                  <i class="fas fa-star active"></i>
                  <i class="fas fa-star active"></i>
                  <i class="fas fa-star active"></i>
                  <i class="fas fa-star active"></i>
                </div>
              </div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
            </div>
            <div class="acr-testimonial-author">
              <img src="https://via.placeholder.com/292x300" alt="testimonial">
              <div class="acr-testimonial-author-inner">
                <h6>Mandy Floss</h6>
                <span>Executive CEO at company</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Testimonail item end -->

      </div>

    </div>
  </div>
  <!-- Testimonials End -->