

  <!-- Banner Start -->
  <div class="banner banner-4 bg-cover bg-center">

    <div class="container">

      <div class="banner-item">
        <div class="banner-inner">
          <div class="banner-text">
            <div class="acr-dots-wrapper">
              <div class="acr-dots"></div>
            </div>
            <h1 class="title">Find Your Ideal Home Today</h1>
            <p class="subtitle">Thousands of people have their flats up for grabs. Don't miss your chance to grab your own house today.</p>
          </div>
          <div class="banner-newsletter">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
              <input type="text" placeholder="Email Address" class="form-control" formControlName="email" value="">
              <button type="submit" class="btn-custom secondary" name="button"  [disabled]="myForm.invalid">Subscribe</button>
            </form>
            <div *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)">
              <p style="letter-spacing: 1px; color: red;">              Please provide a valid email address.
              </p>
            </div>
            <span>*We will be sending you two emails per month about offers and exclusive listings</span>
          </div>

          <!-- Featured Listings Start -->
          <div class="acr-featured-listings banner-featured-slider">

            <div class="container scroll-container">
              <div class="gridscroll">
                
                <a *ngFor="let item of recent" class="acr-featured-listing card" style="width: 310px;">
                  <div class="featured-listing-thumb">
                    <a [routerLink]="['/listings/details',item.id]"><img style="height: 200px;" [src]="item.gallery[0]?.url" onerror="this.onerror=null;this.src='https://via.placeholder.com/492x400?';"   alt="listing"></a>
                    <div class="featured-listing-controls">
                      <span>Featured</span>
                      <a href="#"><i class="far fa-heart"></i></a>
                    </div>
                  </div>
                  <div class="featured-listing-content">
                    <h6> {{ item.price | currency:'KES ' }} </h6>
                    <div class="featured-listing-meta">
                      <p>Beds {{item.beds}} , Baths {{item.bathrooms}}, {{item.size}} Sqft</p>
                    </div>
                    <span> <i class="fas fa-map-marker-alt"></i> {{item.name}}</span>
                  </div>
                </a>  

              </div>
            </div>  

 

          </div>
          <!-- Featured Listings End -->

        </div>
      </div>

    </div>

    <div class="banner-bg bg-center bg-cover" style="background-image: url('https://via.placeholder.com/1920x1280')"></div>

  </div>
  <!-- Banner End -->
 

  <!-- Buyer/Seller Start -->
  <div class="section section-padding pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="cta cta-2 item1">
            <i class="flaticon-sales-agent"></i>
            <div class="cta-body">
              <h4>Buying a Home?</h4> 
              <a [routerLink]="['/listings/grid']" routerLinkActive="router-link-active"  class="btn-link">Search homes<i class="fas fa-arrow-right"></i> </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="cta cta-2 item2">
            <i class="flaticon-sold"></i>
            <div class="cta-body">
              <h4>Selling a Home?</h4>
              
              <a [routerLink]="['/pricing']" class="btn-link">Start listing<i class="fas fa-arrow-right"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Buyer/Seller Start -->

  <!-- CTA Start -->
  <!-- <div class="acr-footer footer-2">
    <div class="footer-top">
      <div class="container">
        <div class="row footer-btn-wrapper">
          <div class="col-lg-7 footer-widget">
            <h4>Download Our App</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
          </div>
          <div class="col-lg-5 col-md-12 footer-widget">
            <div class="footer-btn">
              <a href="#" class="btn-custom-2 grey"> <i class="flaticon-playstore"></i>Google Play</a>
              <a href="#" class="btn-custom-2 grey"> <i class="flaticon-apple"></i>App Store</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- CTA End -->

  <!-- Listings Start -->
  <div class="section">
    <div class="container">

      <div class="section-title-wrap section-header">
        <h5 class="custom-primary">Find Your Home</h5>
        <h2 class="title">Recent Listings</h2>
      </div>
      <div class="container">
        <div class="container scroll-container">
          <div class="gridscroll">
            
            <a  *ngFor="let item of recent" class="acr-featured-listing card" style="width: 310px;"  [routerLink]="['/listings/details',item.id]" >
              <div class="featured-listing-thumb">
                <a [routerLink]="['/listings/details',item.id]"><img style="height: 200px;" [src]="item.gallery[0]?.url" onerror="this.onerror=null;this.src='https://via.placeholder.com/492x400?';"   alt="listing"></a>
                <div class="featured-listing-controls">
                  <span>Recent</span>
                  <a href="#"><i class="far fa-heart"></i></a>
                </div>
              </div>
              <div class="featured-listing-content">
                <h6>{{item.price  | currency:'KES '}}</h6>
                <div class="featured-listing-meta">
                  <p>Beds {{item.beds}} , Baths {{item.bathrooms}}, {{item.size}} Sqft</p>
                </div>
                <span> <i class="fas fa-map-marker-alt"></i> {{item.name}}</span>
              </div>
            </a>  

          </div>
        </div>  
      </div>
    </div>
  </div>
  <!-- Listings End -->

  <!-- Blog Posts Start -->
  <div class="section section-padding light-bg">
    <div class="container">

      <div class="section-title-wrap section-header">
        <h5 class="custom-primary">Latest News</h5>
        <h2 class="title">From Our Blog</h2>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <article class="post">
            <div class="post-thumbnail">
              <a href="blog-single.html"><img src="https://via.placeholder.com/640x350" alt="blog post"></a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a href="blog-single.html">What agencies are looking for in an agent</a> </h5>
              <p class="post-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
              <div class="post-controls">
                <a href="#" class="btn-custom secondary btn-sm">Read More</a>
                <div class="post-comment-authors">
                  <span>Comments by: </span>
                  <div class="post-comment-authors-img">
                    <a href="#"> <img src="https://via.placeholder.com/292x300" alt="comment author"> </a>
                    <a href="#"> <img src="https://via.placeholder.com/292x300" alt="comment author"> </a>
                    <a href="#"> +3 </a>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div class="col-lg-6">
          <article class="post post-list">
            <div class="post-thumbnail">
              <a href="blog-single.html"><img src="https://via.placeholder.com/600" alt="blog post"></a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a href="blog-single.html">Changing the way we sell and buy real estate</a> </h5>
              <p class="post-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
            </div>
          </article>
          <article class="post post-list">
            <div class="post-thumbnail">
              <a href="blog-single.html"><img src="https://via.placeholder.com/600" alt="blog post"></a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a href="blog-single.html">Families, its the best time to start buying</a> </h5>
              <p class="post-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
            </div>
          </article>
        </div>

      </div>
    </div>
  </div>
  <!-- Blog Posts End -->

  <!-- FAQs Start -->
  <div class="section">
    <div class="container">

      <div class="section-title-wrap section-header">
        <h5 class="custom-primary">FAQ</h5>
        <h2 class="title">FAQ Pricing</h2>
      </div>

      <div class="row">

        <div class="col-lg-8 mb-lg-30">

          <div class="accordion with-gap" id="faqAccordions1">
            <div class="card">
              <div class="card-header" data-toggle="collapse" role="button" data-target="#faqOne" aria-expanded="true" aria-controls="faqOne">
                How can I start with buying a home?
              </div>

              <div id="faqOne" class="collapse show" data-parent="#faqAccordions1">
                <div class="card-body">
                  <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                    tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                  </p>
                  <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  </p>
                  <ul class="acr-list mb-0">
                    <li> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
                    <li> Many desktop publishing packages and web page editors now use Lorem Ipsum </li>
                    <li> There are many variations of passages of Lorem Ipsum </li>
                    <li> Internet tend to repeat predefined chunks as necessary </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" data-toggle="collapse" role="button" data-target="#faqTwo" aria-expanded="false" aria-controls="faqTwo">
                Is the service free?
              </div>

              <div id="faqTwo" class="collapse" data-parent="#faqAccordions1">
                <div class="card-body">
                  <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                    tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                  </p>
                  <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  </p>
                  <ul class="acr-list mb-0">
                    <li> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
                    <li> Many desktop publishing packages and web page editors now use Lorem Ipsum </li>
                    <li> There are many variations of passages of Lorem Ipsum </li>
                    <li> Internet tend to repeat predefined chunks as necessary </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" data-toggle="collapse" role="button" data-target="#faqThree" aria-expanded="false" aria-controls="faqThree">
                How many agents can I have at once?
              </div>

              <div id="faqThree" class="collapse" data-parent="#faqAccordions1">
                <div class="card-body">
                  <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                    tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                  </p>
                  <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  </p>
                  <ul class="acr-list mb-0">
                    <li> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
                    <li> Many desktop publishing packages and web page editors now use Lorem Ipsum </li>
                    <li> There are many variations of passages of Lorem Ipsum </li>
                    <li> Internet tend to repeat predefined chunks as necessary </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 infographics-5">
          <div class="acr-infographic-item">
            <i class="flaticon-telephone"></i>
            <div class="acr-infographic-item-body">
              <h5>Reach Out</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="tel:+123456789" class="btn-custom secondary btn-sm">Call Us</a>
            </div>
          </div>
          <div class="acr-infographic-item">
            <i class="flaticon-location"></i>
            <div class="acr-infographic-item-body">
              <h5>Find Us</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a [routerLink]="['/contact']" class="btn-custom secondary btn-sm">Get Directions</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- FAQs End -->